{% extends "amp/base.amp.html" %}
{% load static %}


{% block content %}

<amp-img src="{% static 'home/banner_news.jpg' %}"
width="5"
height="2"
layout="responsive"
class="banner"
alt="">
</amp-img>
<div class="title">
    <h1 class="principal home-title center"><span> Novidades</span></h1>
</div>
<div class="page">
    <div class="newing_news">
        {% if news %}
            {% for n in news %}
                <div class="news2">
                    <amp-carousel width="300"
                    height="300"
                    layout="fixed"
                    type="slides">
                    {% for p in n.news_images.all %}
                    <amp-img src="{{ p.imagem.url }}"
                        width="400"
                        height="300"
                        layout="fixed"
                        alt=""></amp-img>
                    {% endfor %}
                    </amp-carousel>
                    <h2 class="principal center">{{n.headline}}</h2>
                    <p>{{n.text|truncatechars:150}}</p>
                </div>
            {% endfor %}
        {% else %}
            <a class="new" href="{% url 'news' %}">
                <div class="new">
                    <h2>Não há notícias no momento.</h2>
                </div>
            </a>
        {% endif %}
    </div>
</div>


{% endblock %}