{% extends "desktop/base.amp.html" %}
{% block title %}
Contact
{% endblock %}

{% block content %}
    <h1 class="principal">Contato:</h2>
    <div class="contact">
        <div class="contact">
            <h2 class="filter-text">Telefones:</h2>
            <h3 class="contact-text">JR Kids</h3>
            <p class="contact-text">+55 21 99453-4836</p>
        </div>
        <div class="box-form">
            <form method="POST" action-xhr="{% url 'contact' %}">
                {% csrf_token %}
                <label for="nome">              
                    <h3 class="filter-text">Nome:</h3>
                    <input class="box-form" name="nome" type="text">
                </label>
                <label for="phone">
                    <h3 class="filter-text">Telefone:</h3>
                    <input class="box-form" name="phone" type="tel" value="+5521" maxlength="14" placeholder="(xx)xxxx-xxxxx">
                </label>
                <label for="email">
                    <h3 class="filter-text">Email:</h3>
                    <input class="box-form" name="email" type="email" placeholder="xxxxx@email.com">
                </label>
                <label for="text">
                    <h3 class="filter-text">Mensagem:</h3>
                    <textarea class="box-form" name="mensagem" rows="5" cols="50" placeholder="Em que podemos ser úteis"></textarea>
                </label>
                <input type="submit">
            </form>
        </div>
    </div>
  
{% endblock %}